extends layout

block head
	meta(charset='utf-8')
	//- meta(name='viewport' content='width=device-width, initial-scale=1')
	title= title
	link(rel='icon' type='image/png' href='/images/zoo-favicon.png')
	link(rel='stylesheet' href='/css/bootstrap.min.css')
	link(href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Muli&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Lora|Roboto+Slab&display=swap" rel="stylesheet")
	link(rel='stylesheet' href='/stylesheets/style.css')
	link(rel='stylesheet' href='/stylesheets/print.css')

block header
	nav.navbar.navbar-expand-sm.fixed-top.navbar-dark.bg-dark.d-print-none
		h1.navbar-brand.brand.mx-auto LoteZoo
			small.slogan A loteria do bicho
			a.stretched-link.text-reset(href='/')
		button#PRINT.btn.btn-primary.IMPRESSAO__BTN.position-sticky(type='button') Imprimir
block content
	.container-fluid
		.IMPRESSAO
			button.btn.btn-secondary.IMPRESSAO__BTN.IMPRESSAO__BTN--ZOO(type='button') Zoo
			.btn-group.IMPRESSAO__NAV(role='group' aria-label='Formatação da Página')
				.btn-group.IMPRESSAO__MENU(role='group')
					button.btn.btn-dark.dropdown-toggle.IMPRESSAO__BTN(type='button' data-btn='bordas' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Tab
					.dropdown-menu
						h6.dropdown-header Bordas
						a.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='sem') Limpa
						a.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='padrao') Normal
						a.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='total') Cheia
				.btn-group.IMPRESSAO__MENU(role='group')
					button.btn.btn-dark.dropdown-toggle.IMPRESSAO__BTN(type='button' data-btn='fonte' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Aa
					.dropdown-menu
						h6.dropdown-header Fonte
						a.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='peq') Pequena
						a.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='padrao') Média
						a.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='grande') Grande
				.btn-group.IMPRESSAO__MENU(role='group')
					button.btn.btn-dark.dropdown-toggle.IMPRESSAO__BTN(type='button' data-btn='colunas' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Col
					.dropdown-menu
						h6.dropdown-header Colunas
						a.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='sem') Curta
						a.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='padrao') Normal
						a.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='muito') Espaçosa
				.btn-group.IMPRESSAO__MENU(role='group')
					button.btn.btn-dark.dropdown-toggle.IMPRESSAO__BTN(type='button' data-btn='copias' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") +
					.dropdown-menu
						h6.dropdown-header Cópias
						button.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='add') Adicionar
						button.dropdown-item.IMPRESSAO__OPCAO(role='button' data-opcao='rm') Remover
				.btn-group.IMPRESSAO__MENU(role='group')
					button.btn.btn-dark.dropdown-toggle.IMPRESSAO__BTN(type='button' data-btn='posicao' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Pos
					.dropdown-menu
						h6.dropdown-header Posição
						button.dropdown-item.IMPRESSAO__OPCAO(type='button' data-opcao='padrao') Topo
						button.dropdown-item.IMPRESSAO__OPCAO(type='button' data-opcao='meio') Meio
	section.PAGINA.shadow-lg
		.PAGINA__CABECALHO.d-flex.align-items-center.justify-content-around
			h3.navbar-brand.brand.mr-2 LoteZoo
				small.slogan A loteria do bicho
			h1.h2= sorteio.extracao
			h2.h3= sorteio.banca
		.PAGINA__CONTEUDO
			table#tabela.table.table-striped.table-responsive-md.TABELA
				thead
					tr.TABELA__CABECALHO
						th(scope='col').TABELA__TITULO
						th(scope='col').TABELA__TITULO Milhar
						th(scope='col').TABELA__TITULO.text-center Grupo
						th(scope='col').TABELA__TITULO.TABELA__ITEM--ZOO Zoo
						th(scope='col').TABELA__TITULO Nome
				tbody
				each premio, i in sorteio.resultado
					tr.TABELA__PREMIO
						th.TABELA__ITEM.TABELA__TITULO(scope='row')= (i+1)+"º" 
						td.TABELA__ITEM.TABELA__ITEM--MILHAR= premio.milhar
						td.TABELA__ITEM.text-center= premio.grupo.num
						td.TABELA__ITEM.TABELA__ITEM--ZOO #[img(src='/images/grupos/svg/'+premio.grupo.svg)]
						td.TABELA__ITEM= premio.grupo.nome
		.PAGINA__RODAPE
			.row.w-75.align-items-center.justify-content-between
				#url= "/resultados/"+sorteio.urn
				p.lead.mb-0 Sorteio: #{sorteio.data}
			.row
				blockquote.blockquote.text-center.note
					block iconesRights
						+citeRights([ ["Freepik", "https://www.flaticon.com/authors/freepik"], ["monkik", "https://www.flaticon.com/authors/monkik"], ["Smashicons", "https://www.flaticon.com/authors/smashicons"], ["photo3idea_studio", "https://www.flaticon.com/authors/photo3idea-studio"] ], false)



block footer
block scripts
	script(src='/dist/jquery.min.js')
	script(src='/js/bootstrap.bundle.min.js')
	script(src='/javascripts/print.js')