extends layout
include includes/sorteio.pug
include includes/premio.pug

block content
	section.BANCA
		.BANCA__HERO
			.HERO__CABECALHO
				h2.CABECALHO__TITULO= banca
				.CABECALHO__ADDON= data[2]
			.HERO__CONTEUDO
				form(action="" method="post")
					.form-row
						input#DATA(type="hidden" value=data[1] readonly)
						.BANCA__DATA
							.DATA__ADDON
								span#DATA__ABBR.ADDON__TXT= data[0]
							input#DATA--BANCA.DATA__INPUT(type="date" name="data" value=data[1] max=data[3] aria-label='Data do Sorteio' aria-describedby='data-abbr')
							.DATA__ADDON
								button#DATA__BTN.btn.btn-outline-primary.DATA__BTN(type='submit') Buscar
	.container.container-lg.SORTEIOS
		if sorteios.length
			.nav-scroller.py-3.mb-2.border-top.border-bottom.border-info
				nav.nav.justify-content-around.pb-0
					each sorteio in sorteios
						a.px-3.py-2.text-monospace.border.border-secondary.rounded.text-muted.font-weight-bold(href='#'+sorteio.ID)= sorteio.extracao
			.row.no-gutters.row-cols-1.row-cols-md-2.pt-4
				each sorteio in sorteios
					+sorteio(sorteio)
		else
			p.lead.mb-0.text-center Não foram encontrados resultados para esta data.
append scripts
	script(src="/javascripts/resultados.js")
