extends layout
include includes/sorteio.pug
include includes/premio.pug

prepend head
	if sorteios.length
		meta(name='description' content=banca+' resultados hoje, última extração: '+sorteios[sorteios.length-1].extracao+'. Confira também os resultados em qualquer data.')
	else
		meta(name='description' content=banca+' resultados hoje. Confira também os sorteios em qualquer data.')
block content
	section.BANCA
		.BANCA__HERO
			.HERO__CABECALHO
				h2.CABECALHO__TITULO= banca
				.CABECALHO__ADDON= data[2]
			.HERO__CONTEUDO
				form(action=formUri method="post")
					.form-row
						input#DATA(type="hidden" value=data[1] readonly)
						.BANCA__DATA
							.DATA__ADDON
								span#DATA__ABBR.ADDON__TXT= data[0]
							input#DATA--BANCA.DATA__INPUT(type="date" name="data" value=data[1] max=data[3] aria-label='Data do Sorteio' aria-describedby='data-abbr')
							.DATA__ADDON
								button#DATA__BTN.btn.btn-outline-primary.DATA__BTN(type='submit') Buscar
	+bc(bcs.breads, bcs.type)
	.container.container-lg.SORTEIOS
		if sorteios.length
			.MENU__SCROLL
				nav.MENU__EXTRACOES.nav
					each sorteio in sorteios
						a.EXTRACAO__ID(href='#'+sorteio.ID)= sorteio.extracao
			.row.no-gutters.row-cols-1.row-cols-md-2.pt-4
				each sorteio in sorteios
					+sorteio(sorteio)
		else
			p.lead.mb-0.text-center Não foram encontrados sorteios nesta data.
prepend footer
	a(href='#TOP' role='button').BACKTOP.text-decoration-none Topo da página
append scripts
	script(src="/javascripts/resultados.js")
